<ion-header >

  <ion-navbar color="farehan">
    <ion-title>Sk. Ayer Puteh</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="showLogin">
    <ion-item>
      <ion-input type="text" placeholder="No. Kad Pengenalan" [(ngModel)]="number_ic"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Kata Laluan" [(ngModel)]="password"></ion-input>
    </ion-item>
  </div>
  <div *ngIf="!showLogin">

    <ion-item>
      <ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </div>


  <button ion-button color="farehan" full (click)="doLogin()">Login</button>



</ion-content>