
<!-- logged out menu -->
<ion-menu id="loggedOutMenu" [content]="content">

  <ion-header>
    <ion-toolbar color="vimeo">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content" >

     <ion-list>
       <ion-list>
         <ion-item>
           <ion-avatar item-right>
             <img src="assets/img/Picture1.gif">
           </ion-avatar>
           <h2>Farah Wahida Binti Muhammad Fakihi</h2>
           <h3>Don't Know What To Do!</h3>
           <p>I've had a pretty messed up day. If we just...</p>
         </ion-item>
       </ion-list>


         <button ion-item menuClose (click)="openHome()" color="farehan">
           <ion-icon item-right name="home"></ion-icon>
           <h2>Menu Utama</h2>
         </button>


         <button ion-item menuClose (click)="openAkaun()" color="farehan">
           <ion-icon item-right name="contact"></ion-icon>
        Maklumat Pelajar
         </button>


         <button ion-item menuClose (click)="openPrestasi()" color="farehan">
        <ion-icon item-right name="school"></ion-icon>
        Penilaian Akademik
      </button>

      <button ion-item menuClose (click)="openAktivit()" color="farehan">
      <ion-icon item-right name="body"></ion-icon>
      Aktiviti Sekolah
    </button>
      <button ion-item menuClose (click)="openDetailcikgu()" color="farehan">
        <ion-icon item-left name="contacts"></ion-icon>
        Senarai Guru
      </button>
      <button ion-item menuClose (click)="OpenTutorial()" color="farehan">
        <ion-icon item-left name="paper-plane"></ion-icon>
        Komen
      </button>
    </ion-list>


  </ion-content>

</ion-menu>

<!-- logged in menu -->
<ion-menu id="loggedInMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <ion-list-header>
        Navigate
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Akaun
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Keluar
      </ion-list-header>
      <button ion-button icon-only (click)="logout()">
        <ion-icon item-left name="exit"></ion-icon>
          Keluar
      </button>
    </ion-list>

  </ion-content>

</ion-menu>


<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
